---
layout: default
comments: true
---

<!-- 

    // 
    - ID
    - URL/IP/RTSP
        - Might just point to an embedded streaming service?


    // Public
    - ID
    - Spot title
    - Description
    - Preview image
        - Where does this come from? 
    - Location
        - Map coordinates?


    // Questions
    -  Server load?? 
        - How much bandwidth will this need?

 -->

<section class="section section-full section-compact">
    <div class="section-content">
        <h1 class="section-heading">{{ page.name }}</h1>
        <div class="row">
            <div class="col-md-8">
                <img src="{{ site.baseurl }}{{ page.img }}" alt="{{ page.name }}" />

                <div class="cam-comments mt-5">
                    <!-- Comment section -->
                    {% if site.disqus.shortname %}
                        {% include comments.html %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <!-- Description -->
                <div class="mb-5">
                    <h3 class="group-heading">Description</h3>
                    {% if page.description %}
                        <p>{{ page.description }}</p>
                    {% endif %}
                    {% if page.read-more-link %}
                        <a href="{{ page.read-more-link }}">Read more</a>
                    {% endif %}
                </div>

                <!-- Gallery -->
                <div class="mb-5">
                    <h3 class="group-heading">images + videos</h3>
                </div>

            </div>
        </div>
    </div>
</section>


